@media screen and (max-width: 728px)
    .customnavbar
        div
            a
                margin-top 10px
        .navbar-header
             button
                margin-top 16px !important
                margin-bottom 0px !important
        .navbar-collapse
                margin-top 20px !important


    .da-slider
        height  300px !important
    .da-slide
        left auto
        text-align center !important
    .da-slide p
        display block
        font-size 0.9em
        width 80%
        top 80px
    .da-slide h2
        dispaly block !important
        font-size 2em
        left auto
        top 20px
        width 100%
    .da-slide .da-img
        display none;
    .da-slide .da-link
        top 200px

.box_start
    margin-top 16px
    margin-bottom 16px
