blanco = #fff
naranja = #D35400
amarillo = #F1C40F
gris = #34495E

transition(n)
   -webkit-transition: all n ease-in-out;
   -moz-transition: all n ease-in-out;
   -ms-transition: all n ease-in-out;
   -o-transition: all n ease-in-out;
   transition: all n ease-in-out;

opacity(n)
    -webkit-opacity: n;
    -moz-opacity: n;
    opacity: n;
body
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
.navbar
    background-color #fff
    border-radius 0px
    margin-bottom 0px
    min-height 74px

.customnavbar
    ul
        li
            a
                color #00adef !important
                text-transform uppercase
                transition(.4s)
                &:hover
                    background-color  #00adef !important
                    color blanco !important
                    opacity(1)

    .navbar-right
        margin-top 10px
        .input-group
            a
                color #00adef !important
                &:hover
                    background-color  #ccc !important
                    color #00adef !important

#input-src
    display none
    max-width 200px
    width 0px

#div-src
    display none
    margin-top 8px
    margin-botton 4px

#btn-src
    display none

.homebox
    margin-top 16px
    width 100%
    .icon
        display inline-block
        width 15%
        margin-right 5%
        img
            width 100%
    .desc
        float left
        width 80%
        .title
            display block
            font-size 1.6em
            font-weight normal
            margin-button 6px
        p
            color #555
            font-size 0.9em

.bar-top
    background-color #00adef
    ul
        display inline-block
        list-style-type none
        margin 0px
        li
            float left
            color #f0f0f0
            a
                color blanco !important
                display block
                padding 8px
                transition(.4s)
                &:hover
                    opacity(1)
            .facebook
                &:hover
                    background #3b5898

            .twitter
                &:hover
                    background #2185B2

            .youtube
                &:hover
                    background #CC171D

.parallax1
    background url(../img/parallax1.jpg) 50% 0 no-repeat fixed
    -web-background-size cover
    -moz-background-size cover
    -o-background-size cover
    backgrund-size cover
    margin 0px auto
    position relative
    max-width  1920px
    width 100%
.box_start
    background-color rgba(255, 255, 255, 0.7)
    box-shadow 0px 4px 5px 2p rgba(0, 0, 0, .2);
    color 3e4f59
    margin-top 96px
    margin-bottom 96px
    padding 24px
    overflow hidden
    .col1
        float left
        max-width 26%
        margin-right 8px
    .col2
        float left
        margin-right 16px
        max-width 33%
    .col3
        float left
        max-width 33%

    h2
        margin-top 0px
        margin-bottom 4px
        font-weight bold
        font-size 3em
    i
        font-size 3em

    span
        display block
        margin-top 4px
        text-transform uppercase

.box_featured
        background-color rgba(66, 124, 203, 2.7)
        color #ffff
.title_section
    display block
    color #555
    font-size 2em
    text-transform uppercase
    text-align center

.mb48
    margin-bottom: 48px
.hoveri
    display block
    width: auto;



.testimony_section
    background url('../img/testimonio2.png')
    padding-botton 32px

.testimony
    text-align center
    margin-top 8px
    img
        margin-bottom: 8px
    p
        color #666
    a
        color #666
        font-weight bold
        text-decoration  none
        i
            color #2185B2

.footer
    background-color #272d34
    color #fff
    padding-top 24px
    padding-botton 24px
    .title
        font-size 1.6em
    p
        color #777
        font-size 0.9em
        margin-top 8px

    ul
        margin-left 0px
        li
            a
                color #999
                display block
                padding 2px

.copyright
    background-color #1a1e23
    color #777
    padding 8px
    ul
        display inline-block
        float right
        list-style-type none
        margin 0px
        li
            float left
            margin-right 16px
            a
                color #fff
.bgrid
    overflow hidden
    .col50
        float left
        width 50%
.featured
    background-color #000
    overflow hidden
    position relative
    a
        color #fff
        font-size 2em
        opacity 1 !important
        overflow hidden
        text-shadow 0p 1px 5px rgba(0, 0, 0, 0.75)
        .title
            bottom 0px
            opacity 1 !important
            position absolute
            padding 16px
            z-index 999
        .desc
            display none
            bottom 0px
            position absolute
            font-size 0.5em
            padding 16px
            z-index 999
.small
    a
        font-size 1.4em
        .desc
            font-size 0.7em
.blogfimg
    opacity 0.85
    position relative
    transition(.3s)
    &:hover
        opacity 0.3

.mbottom32
    padding-bottom 32px
    padding 32px
    .mtop32
        padding-bottom 32px
        padding 32px

.entry
    position relative
    .meta
        background-color: rgba(255, 255, 255, 0.8)
        bottom 0px
        left 4%
        padding 12px
        position absolute
        width  92%
        .title
            font-size 1.5em
            margin 8px 0px 8px 0px
        .category
            a
                font-size 0.7em
                text-transform uppercase
        .info
            a
                display inline-block
                font-size 0.7em
                padding 8px
                text-align center
                text-transform uppercase
            i
                color #009eed
        a
            color #2b2b2b
            transition(.3s)
            &:hover
                color #009eed
                text-decoration none
